{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row bg-light p-3 rounded shadow">
        <div class="col-12 col-md-4 order-1 order-md-2 mb-4 mb-md-0">
    {% if form %}
        <h2>Faça sua publicação</h2>
        <p>Escreva algo interessante!</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Publicar</button>
        </form>
    {% endif %}
</div>

<div class="col-12 col-md-8 order-2 order-md-1">
    <h1 class="mb-3">Publicações!</h1>

    {% for meep in meeps %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@{{ meep.user.username }}</h5>
                <p class="card-text">{{ meep.body }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ meep.created_at|date:"d-m-Y H:i" }}</small>
                </p>
            </div>
        </div>
    {% empty %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Nenhuma publicação ainda!</h5>
                <p class="card-text">Siga pessoas para ver as publicações deles.</p>
            </div>
        </div>
    {% endfor %}
</div>


    </div>
</div>

{% endblock %}