<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <div class="row bg-light p-3 rounded shadow">
        <div class="col-12 col-md-4 order-1 order-md-2 mb-4 mb-md-0">
    {% if form %}
        <h2>Quer Postar algo?</h2>
        <p>Escreva algo interessante!</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Publicar</button>
        </form>
    {% endif %}
</div>

<div class="col-12 col-md-8 order-2 order-md-1">
    <h1 class="mb-3">Publicações!</h1>

    {% for meep in meeps %}
    <div class="card mb-3">
        <div class="card-body d-flex align-items-center">
            {% if meep.user.userprofile.profile_image %}
                <img src="{{ meep.user.userprofile.profile_image.url }}" alt="{{ meep.user.username }}" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-right: 16px;">
            {% else %}
                <img src="{% static 'images/FotoDePefil.png' %}" alt="Imagem padrão" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-right: 16px;">
            {% endif %}
            <div style="flex: 1; min-width: 0;">
                <h5 class="card-title mb-1">@{{ meep.user.username }}</h5>
                <p class="card-text mb-1" style="word-break: break-word; white-space: pre-line;">{{ meep.body }}</p>
                <p class="card-text">
                    <small class="text-muted">
                            {{ meep.created_at|date:"d-m-Y H:i" }}
                            - {{ meep.number_of_likes }} 
                            likes - {{ meep.likes.all|join:", " }}
                            {% if user in meep.likes.all %}
                                <a href="{% url 'meep_like' meep.id %}" title="Descurtir">
                                    <i class="fa-solid fa-heart" style="color: red;"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'meep_like' meep.id %}" title="Curtir">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            {% endif %}
                    </small>
                </p>
                
            </div>
        </div>
    </div>
    {% empty %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Nenhuma publicação ainda!</h5>
                <p class="card-text">Siga pessoas para ver as publicações deles.</p>
            </div>
        </div>
    {% endfor %}
</div>


    </div>
</div>

{% endblock %}