<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

{% extends "base.html" %}
{% load static %}
{% block content %}

{% if profile %}

<div class="container text-center">
    <div class="row flex-column flex-md-row mt-5 mb-5 bg-light p-3 rounded shadow">
        <div class="col-md-4 order-md-2 d-flex flex-column align-items-center gap-3">
            
            {% if profile.profile_image %}
                <img class="card-img-top card mb-3 mt-3" style="max-width: 220px; border-radius: 43%;" src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}">
            {% else %}
                <img style="max-width: 220px; border-radius: 43%;" src="{% static 'images/FotoDePefil.png' %}" alt="Imagem padrão">
            {% endif %}

            <div class="card mb-3 mt-5 ">
                <h5 class="card-header">Seguindo</h5>
                <div class="card-body">
                    <p class="card-text mb-3">

                        {% if profile.follows.count == 0 %}
                            <p>Nenhum usuário seguido ainda!</p>
                        {% endif %}

                        {% if profile.follows.count > 3 %}
                            <p style="font-size: 20px;">Seguindo {{ profile.follows.count }} usuários.</p>
                        {% endif %}

                        {% for following in profile.follows.all %}
                            <a class="text-decoration-none" href="{% url 'profile' following.user.id %}">@{{ following }}</a><br />
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br />
            
            <div class="card">
                <h5 class="card-header">Seguidores</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% if profile.followed_by.count == 0 %}
                            <p>Nenhum seguidor ainda!</p>
                        {% endif %}

                        {% if profile.followed_by.count > 3 %}
                            <p style="font-size: 20px;">Você tem {{ profile.followed_by.count }} seguidores.</p>
                        {% endif %}

                        {% for follower in profile.followed_by.all %}
                            <a class="text-decoration-none list-group-item" style="color: rgb(8, 109, 50);"  href="{% url 'profile' follower.user.id %}">@{{ follower }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br />

        {% if request.user != profile.user %}
        <form method="POST">
            {% csrf_token %}
            {% if profile in user_profile.follows.all %}
            <button  
                class="btn btn-outline-danger"
                name="follow"
                value="unfollow"
                type="submit">
                Deixar de seguir @{{ profile.user.username|lower }}
            </button>
            {% else %}
            <button  
                class="btn btn-outline-success"
                name="follow"
                value="follow"
                type="submit">
                Seguir @{{ profile.user.username|lower }}
            </button>
            {% endif %}
        </form>
        {% endif %}

            <br />

            {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_user' %}" class="btn btn-outline-primary">Editar Perfil</a>
            {% endif %}
        </div>

        <div class="col-md-8 order-md-2 d-flex flex-column align-items-center gap-3 mt-4">
            <h1>Perfil do(a) @{{ profile.user.username }}!</h1>
            <h2 class="mt-5">Publicações:</h2>
            <br />
            {% if meeps %}
            {% for meep in meeps %}
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        {% if meep.user.userprofile.profile_image %}
                            <img src="{{ meep.user.userprofile.profile_image.url }}" alt="{{ meep.user.username }}" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-right: 16px;">
                        {% else %}
                            <img src="{% static 'images/FotoDePefil.png' %}" alt="Imagem padrão" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-right: 16px;">
                        {% endif %}
                        <div>
                            <h5 class="card-title mb-1">@{{ meep.user.username }}</h5>
                            <p class="card-text mb-1" style="word-break: break-word; white-space: pre-line;">{{ meep.body }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {{ meep.created_at|date:"d-m-Y H:i" }} - 
                                    {{ meep.number_of_likes }}
                                    likes - {{ meep.likes.all|join:", " }}
                                    {% if user in meep.likes.all %}
                                        <a href="{% url 'meep_like' meep.id %}" title="Descurtir">
                                            <i class="fa-solid fa-heart" style="color: red;"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'meep_like' meep.id %}" title="Curtir">
                                            <i class="fa-regular fa-heart" style="color: red;"></i>
                                        </a>
                                    {% endif %}

                                    {% if meep.shared_from %}
                                        <div style="margin-left: 10px;" class="text-muted">Compartilhado de @{{ meep.shared_from.user.username }}</div>
                                    {% endif %}
                                
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="card ml-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nenhum Publicação ainda!</h5>
                    <p class="card-text">Siga outros usuários para ver as Publicações deles.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
